@using Hipokrates.Models
@model List<Service>
@{
    Layout = "_Layout";
}
<main>
    <div class="login-form-div">
        @using (Html.BeginForm("ChooseService", "Consultation", FormMethod.Get, new {@class = "login-form"}))
            {
                <select class="form-input" name="serviceId" id="Service">
                    <option value="" selected> -- Wybierz usługę -- </option>
                    @{
                        for (int i = 0; i < Model.Count(); i++)
                        {
                            <option value="@i">@Model[i].Name</option>
                        }
                    }
                </select>
                <div class="form-buttons">
                    <input type="submit" value="Przejdź do usługi" class="form-button-login" />
                </div>
            }
    </div>
</main>