@{
    Layout = "_Layout";
}

<main>
    <div class="consultation-div">
        <h1 class="consultation-text">Podano błędne dane logowania</h1>
        <p><a class="consultation-button" href="@Url.Action("Index", "Home")">OK</a></p>
    </div>
</main>